node_modules/**
dist/**
_nuxt/**
.nuxt/**
.output/**
nuxt.modules.ts
package.json
package-lock.json
README.md
.history/
.vscode/
build/
dist/
bin/
base/
modules/**/tests/e2e
cypress.*
cypress/**
/modules/authentification/lib/*