@import './variable';

html body {
  // @extend .font-sf-regular;
  @media only screen and (max-width: 767px) {
    font-size: 12px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .title-btn-position {
    .btn-add {
      position: fixed;
      z-index: 5;
      bottom: 91px;
      left: 50%;
      width: 305px;
      transform: translateX(-50%);
    }
  }
}

.page-title {
  margin: 1rem 0;
  font-size: 30px;
}

.title-btn-position {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 27px;

  .ant-row {
    width: 100%;
  }
}

.content {
  background-color: $bgWhite;

  .header-wrapper {
    padding: 12px 16px;

    .title {
      margin: 0;
      font-size: 20px;
    }
  }
}

.form-wrapper {
  padding: 20px;
}

.search-input {
  display: flex;
  margin: 15px;
}

.bg-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid $borderColor;
  overflow-x: auto;
  white-space: nowrap;

  .title {
    color: $darkColor;
  }
}

.sidebar {
  @media only screen and (min-width: 768px) {
    z-index: 10;
  }

  .icon-position-colapse {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spacing-left {
    margin-left: 8px;
  }
  @media only screen and (min-width: 768px) {
    .spacing-ln {
      margin-left: -16px;
    }

    .spacing-y {
      text-align: center;
    }

    .close {
      margin-left: -24px;
    }
  }

  .pointer-default {
    pointer-events: none;
  }

  .opacity-50 {
    opacity: 0.5;
  }

  .align-icon-text {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .nowrap {
    white-space: nowrap;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (max-width: 767px) {
    .hide {
      display: none;
    }
  }
}
@media only screen and (max-width: 767px) {
  .sm-hide {
    display: none;
  }
}

.description-page {
  margin-bottom: 30px;
}

.picto-img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border: solid $borderColor 1px;
  border-radius: 2px;
}

.filter-pagination {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.select-item {
  border: 1px solid $lightGrey;
  border-radius: 4px;
}
